
body{
    background-color: rgb(216, 241, 241);
}
header{
    background-color: darkcyan;
    text-align: center;
    padding: 10px;
}
header h1{
    color: white;
}
header h3{
    color: white;
}
nav{
    background-color: rgb(122, 177, 177);
    padding: 1px;
    text-align: center;
    
}
button{
    width: 120px;
    height: 30px;
    background-color:rgb(148, 191, 191);
    border: none;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
button:hover{
    background-color:rgb(183, 224, 224);
}
main {
    padding-top: 5px;
    text-align: center;
    
}