body{
    background-color: rgb(216, 241, 241);
}
header{
    background-color: darkcyan;
    text-align: center;
    padding: 1px;
}
header h2{
    color: white;
   font-size: 100px;
}
nav{
    background-color: rgb(122, 177, 177);
    padding: 1px;
    text-align: center;
    
}
a{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    width: 100%;
}
main h1{
    text-align: center;
}
main div{
    background-color: white;
    width: 320px;
    border: 2px solid white;
    text-align: center;
    padding: 25px;
}
th{
    background-color :darkcyan;
}
table{
    text-align: center;
    width: 95%;
    border-collapse: collapse;
    border-color: black;
}
footer{
    background-color:darkcyan ;
    text-align: center;
    padding: 1px;
}
h1{
    text-align: center;
}
button{
    border: white;
    border-radius: 30px;
}