
body{
    background-color: rgb(212, 240, 240);
}
header{
    background-color: darkcyan;
    text-align: center;
    padding: 1px;
    color: white;
}
header h1{
     color: white;
   font-size: 100px;
}
header h3{
     color: white;
}
nav{
    background-color: rgb(122, 177, 177);
    padding: 1px;
    text-align: center;
    
}
/* button{
    width: 120px;
    height: 30px;
    background-color:rgb(148, 191, 191);
    border: none;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
} */
a{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a:hover{
    color: aliceblue;
}
button:hover{
    background-color:rgb(183, 224, 224);
}
main {
    padding-top: 5px;
    text-align: center;
    
}
th{
    background-color :darkcyan;
}
table{
    text-align: center;
    width: 95%;
    border-collapse: collapse;
    border-color: black;
    
}
footer{
    background-color:darkcyan;
    text-align: center;
    padding: 1px;
}