body{
    background-color: rgb(216, 241, 241);
}
header{
    background-color: darkcyan;
    text-align: center;
    padding: 1px;
}
header h2{
    color: white;
   font-size: 100px;
}
nav{
    background-color: rgb(122, 177, 177);
    padding: 1px;
    text-align: center;
    
}
a{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}