body{
    background-color: rgb(216, 241, 241);
}
header{
    background-color: darkcyan;
    text-align: center;
    padding: 1px;
}
header h2{
    color: white;
   font-size: 100px;
}
nav{
    background-color: rgb(122, 177, 177);
    padding: 1px;
    text-align: center;
    
}
main h1{
    text-align: center;
    font-size: 65px;
}
a{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
    background-color:darkcyan ;
    text-align: center;
    padding: 1px;
}

main div{
    background-color: rgb(212, 240, 240);
    width: 360px;
    height: 300px;
}
button{
   background-color: rgb(212, 240, 240);
   
}
button:hover{
    background-color: white;
}
main div:hover{
    background-color: white;
}
.hh{
    display: inline-block;
    width: 350px;
    vertical-align: top;
    margin-right: 20px;
    margin-left: 330px; 

}
.hi{
    display: inline-block;
    width: 350px;
    vertical-align: top;
    margin-right: 20px;
    margin-left: 20px;
}
