body{
    background-color: rgb(216, 241, 241);
}
header{
    background-color: darkcyan;
    text-align: center;
    padding: 1px;
}
header h2{
    color: white;
   font-size: 100px;
}
nav{
    background-color: rgb(122, 177, 177);
    padding: 1px;
    text-align: center;
    
}
main h1{
    text-align: center;
    font-size: 65px;
}
a{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
    background-color:darkcyan ;
    text-align: center;
    padding: 1px;
}

main div{
    background-color: rgb(213, 255, 255);
    width: 360px;
    height: 300px;
}
